.two-by-four-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

h1, a{
    color: green;
}

a{
    text-decoration: none;
}

body{
    margin: 0px;
    padding: 0px;
}

main{
    padding: 16px;
}

footer{
    padding: 32px 16px;
    background: lightseagreen;
    color: white

}

img{
    height: 200px;
}

nav{
    background: red;
    border-bottom: 1px solid red;
    padding: 16px 16px;
}

nav a{
    color: white;
}

tr:nth-child(even) {
    background-color: lightgray
}

a:hover{
    text-decoration: underline;
    color: orange;
}
